.body_image{
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v326-kul-47-connection_2.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=c07dd34670f2ea853539820ddafb7181");
    background-position: center;
	background-size: cover;
}